{
  "plugins": ["@typescript-eslint"],
  "extends": [
    "react-app",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "react-hooks/exhaustive-deps": "off",
    "@next/next/link-passhref": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
